<div class="card flex justify-content-center">
  <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6">
        <div class="card flex justify-content-center">
          <p-calendar class="max-w-full" [(ngModel)]="date" [inline]="true" [showWeek]="true" [showTime]="true"
            dateFormat="dd-mm-yy hh:mm"></p-calendar>
        </div>
      </div>
    </div>
  </p-dialog>
</div>