<div class="wrapper">
    <div class="container container-panier">
        <br>
        <div class="card">
            <p-table #dt2 [value]="customers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
                [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                [tableStyle]="{ 'min-width': '75rem' }">
                <!-- <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:22%">Name</th>
                        <th style="width:22%">Country</th>
                        <th style="width:22%">Agent</th>
                        <th style="width:22%">Status</th>
                        <th style="width:12%">Verified</th>
                    </tr>
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="name" [showMenu]="false"
                                matchMode="contains"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="country.name" [showMenu]="false"
                                matchMode="contains"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter field="representative.name" matchMode="contains" [showMenu]="false">
                            </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                        placeholder="Any" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <p-tag [value]="option.value" [severity]="'error'"></p-tag>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="boolean" field="verified"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>
                            {{ customer.name }}
                        </td>
                        <td>
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + customer.country.code" style="width: 20px" />
                            <span class="ml-1 vertical-align-middle">{{ customer.country.name }}</span>
                        </td>
                        <td>
                            <img [alt]="customer.representative.name"
                                src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative.image }}"
                                width="32" style="vertical-align: middle" />
                            <span class="ml-1 vertical-align-middle">{{ customer.representative.name }}</span>
                        </td>
                        <td>
                            <p-tag [value]="customer.status" [severity]="'success'"></p-tag>
                        </td>
                        <td>
                            <i class="pi"
                                [ngClass]="{ 'text-green-500 pi-check-circle': customer.verified, 'text-red-500 pi-times-circle': !customer.verified }"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <br>
    <footer id="footer" class="footer fixed-bottom custom-footer">
        <div class="container">
            <div class="copyright">
                &copy; © 2024 Copyright <strong><span>ANDRIANTSITOHAINA Lahatra Mamy Hajaina</span></strong> and
                <strong><span>FANOMEZANTSOA Achille Aubin</span></strong>
            </div>
            <div class="credits" style="color: #ff6668;">
                CHARME & ÉCLAT BEAUTÉ
            </div>
        </div>
    </footer>
</div>