<div class="wrapper">
    <div class="container container-panier">
        <br>
        <p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
        <div class="card">
            <p-table #dt2 [value]="rendezVous" dataKey="_id" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
                [globalFilterFields]="['Service.name', 'country.name', 'Service.prix', 'status']"
                [tableStyle]="{ 'min-width': '75rem', 'min-height': minHeight  }" editMode="row">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">Prestation</th>
                        <th style="width:13%">Employeur</th>
                        <th style="width:12%">Prix</th>
                        <th style="width:12%">Reste</th>
                        <th style="width:18%">Status</th>
                        <th style="width:8%;">Action</th>
                        <th style="width: 20%;">Payer</th>
                    </tr>
                    <tr>
                        <th>
                            <p-columnFilter type="text" field="Service.name" [showMenu]="false"
                                matchMode="contains"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="country.name" [showMenu]="false"
                                matchMode="contains"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter field="Service.prix" matchMode="contains" [showMenu]="false">
                            </p-columnFilter>
                        </th>
                        <th>
                        </th>
                        <th>
                            <p-columnFilter field="status" matchMode="contains" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                        placeholder="Any" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <p-tag [value]="option.value" [severity]="option.serverity"></p-tag>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="customer">
                        <td>
                            {{ customer.Service.name }}
                        </td>
                        <td>
                            <span *ngIf="customer.Employe === null">Sans employé</span>
                            <span class="ml-1 vertical-align-middle" *ngIf="customer.Employe !== null">{{
                                customer.Employe.username }}</span>
                        </td>
                        <td>
                            {{customer.Service.prix}} Ar
                        </td>
                        <td *ngIf="!customer.cancel">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="restePayer" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{customer.Service.prix - customer.payer}} Ar
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td *ngIf="customer.cancel">
                            0 Ar
                        </td>
                        <td
                            *ngIf="customer.etat[customer.etat.length-1].color === 'danger' && customer.cancel === false">
                            <p-tag [value]="'Refuser'"
                                [severity]="getSeverity(customer.etat[customer.etat.length-1].color)"></p-tag>
                        </td>
                        <td
                            *ngIf="customer.etat[customer.etat.length-1].color !== 'danger' && customer.cancel === false">
                            <p-tag [value]="customer.etat[customer.etat.length-1].name"
                                [severity]="getSeverity(customer.etat[customer.etat.length-1].color)"></p-tag>
                        </td>
                        <td *ngIf="customer.cancel === true">
                            <p-tag [value]="'Annuler'" [severity]="'danger'"></p-tag>
                        </td>
                        <td *ngIf="customer.verified === false && customer.cancel === false">
                            <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text"
                                (onClick)="cancelRdv(customer._id)"></p-button>
                        </td>
                        <td *ngIf="customer.verified === true || customer.cancel === true"></td>
                        <td *ngIf="customer.Service.prix - customer.payer !== 0">
                            <div class="flex align-items-center justify-content-center gap-2">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                    icon="pi pi-pencil" (click)="onRowEditInit(customer)"
                                    class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                    icon="pi pi-check" (click)="onRowEditSave(customer)"
                                    class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                    icon="pi pi-times" (click)="onRowEditCancel(customer, ri)"
                                    class="p-button-rounded p-button-text p-button-danger"></button>
                            </div>
                        </td>
                        <td *ngIf="customer.Service.prix - customer.payer === 0"></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <br>
    <footer id="footer" class="footer custom-footer">
        <div class="container">
            <div class="copyright">
                &copy; © 2024 Copyright <strong><span>ANDRIANTSITOHAINA Lahatra Mamy Hajaina</span></strong> and
                <strong><span>FANOMEZANTSOA Achille Aubin</span></strong>
            </div>
            <div class="credits" style="color: #ff6668;">
                CHARME & ÉCLAT BEAUTÉ
            </div>
        </div>
    </footer>
</div>