<br>
<div class="container container-head">
    <h3><b> Toutes nos prestations</b></h3>
    <button type="button" class="btn-sm btn btn-outline-info">Prendre rendez-vous</button>
    <button type="button" class="btn-sm btn btn-outline-secondary">Avis</button>
    <button type="button" class="btn-sm btn btn-outline-secondary">A propos</button>
</div>
<div class="container container-ratting">
    <span class="rating-text">5,0 </span>
    <span class="rating-component">
        <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    </span>
    <span class="avis-text">7 avis </span>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="card col-md-6">
            <div *ngFor="let product of availableProducts">
                <div class="product-item" pDraggable="services" (onDragStart)="dragStart(product)"
                    (onDragEnd)="dragEnd()">
                    <div class="image-container">
                        <img src="../../../../../assets/assets/img/service/${{product.image[0].name}}"
                            [alt]="product.name" class="product-image" />
                    </div>
                    <div class="product-list-detail">
                        <h5 class="mb-2">{{product.id_Categorie.name}}</h5>
                        <i class="pi pi-tag product-category-icon"></i>
                        <span class="product-category">{{product.name}}</span>
                    </div>
                    <div class="product-list-action">
                        <h6 class="mb-2">{{product.prix}}</h6>
                        <p-tag value="Sélectionner" severity="danger"></p-tag>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="card col-md-5" pDroppable="services" (onDrop)="drop()">
            <p-table [value]="selectedProducts">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Categorie</th>
                        <th>Service</th>
                        <th>Prix</th>
                        <th>Durée</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{product.id_Categorie.name}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.prix}}</td>
                        <td>{{product.dure}}</td>
                        <td><span class="pi pi-trash delete-icon" (click)="onRemoveProduct(product)"></span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<br>