<main id="main">
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>Nos Services</h2>
        <p>Le service de massage propose une expérience relaxante et personnalisée, permettant aux clients de choisir
          parmi une gamme de techniques et d'huiles essentielles. Grâce à la gestion des rendez-vous intégrée, les
          clients peuvent facilement planifier leurs sessions, tandis que le suivi des préférences individuelles
          garantit une expérience de massage adaptée à leurs besoins spécifiques. De plus, la communication régulière
          sur les offres spéciales et les promotions contribue à créer une atmosphère accueillante et à fidéliser la
          clientèle.</p>
      </div>

      <div class="row my-4">
        <div class="col-lg-6">
          <img src="{{environments.url_image}}categorie/345.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
          <a class="btn-book-a-table" href="public/details">Details</a>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-lg-6">
          <img src="{{environments.url_image}}categorie/32423.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
          <a class="btn-book-a-table" href="public/details">Details</a>
        </div>
      </div>

    </div>
  </section>
</main>
<app-footer></app-footer>