<div class="tab-pane fade profile-edit pt-3 show active">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date et Heure debut</th>
        <th scope="col">Date et Heure fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of horaireTravail">
        <td>{{ item.dateTimeDebut | date:'EEEE dd MMMM yyyy HH:mm:ss' }}</td>
        <td>{{ item.dateTimeFin | date:'EEEE dd MMMM yyyy HH:mm:ss' }}</td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>