<div class="container container-panier">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row panier-row">
        <div class="col-md-6">
          <div class="card-header">
            <span [style.color]="'darkslateblue'"><b>Mon panier</b></span>
          </div>
          <hr class="hr" />
          <div class="card-header" *ngFor="let item of panier">
            <br>
            <div class="row">
              <div class="col-md-11">
                <h5>
                  {{item.id_Categorie.name}}
                </h5>
                <br>
                <br>
                <h6 for="">
                  {{item.name}}
                </h6>
                <br>
                <h6 for="">
                  {{item.dure}} minutes
                </h6>
                <br>
                <h6 for="">
                  {{item.prix}} Ar
                </h6>
              </div>
              <div class="col-md-1">

              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="input-icone">
                <select class="form-select form-select-lg" aria-label=".form-select-lg example">
                  <option selected>Un(e) employé(e)</option>
                  <option *ngFor="let item of employes" value="{{item._id}}">{{item.username}}</option>
                </select>
                <i class="bi bi-person fa-lg fa-fw" aria-hidden="true"></i>
              </div>
            </div>
            <br>
            <hr class="hr" />
          </div>
          <div
            class="Stack-module_stack__19jn1 Stack-module_xxl__3s_VC Inline-module_alignNormal__23EVb Inline-module_justifyStart__2svO3">
            <a href="/public/salon" class="AddServiceLink-module_link_c7bea2" data-cy="AddServiceLink">
              <div tabindex="0"
                class="Inline-module_inline__1aHBb Inline-module_sm__19DiN Inline-module_alignCenter__uIC18 Inline-module_justifyStart__2svO3">
                <div class="MediaObject-module_mediaItem__1pFSb">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                    preserveAspectRatio="xMidYMid meet" fill="currentColor">
                    <path
                      d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1zm0 2a9 9 0 10.001 18.001A9 9 0 0012 3zm1 4v4h4v2h-4v4h-2v-4H7v-2h4V7h2z"
                      fill-rule="evenodd"></path>
                  </svg>
                </div>
                <span class="Text-module_body__2lxF8">Ajouter un autre service de Optimiste Paris</span>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-header text-center">
            <span [style.color]="'darkslateblue'"><b>Sélectionnez l'heure de début de votre rendez-vous</b></span>
          </div>
          <div class="header text-center">
            <br>
            <p-calendar [(ngModel)]="date" [inline]="true" [showTime]="true" [showWeek]="true"></p-calendar>
            <br>
            <br>
            <button type="button" style="width: 80%;" class="btn btn-secondary-perso btn-lg">Vérifier</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<footer id="footer" class="footer fixed-bottom custom-footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>ANDRIANTSITOHAINA Lahatra Mamy Hajaina</span></strong> and
      <strong><span>FANOMEZANTSOA Achille Aubin</span></strong>
    </div>
    <div class="credits" style="color: #ff6668;">
      CHARME & ÉCLAT BEAUTÉ
    </div>
  </div>
</footer>