@import "../../assets/assetsHome/css/style.css";

.container-panier {
  margin-top: 2%;
  max-height: 850px;
  overflow-y: auto;
}

.input-icone {
  position: relative;
}
.input-icone i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: darkslateblue;
  font-size: 25px;
  margin-top: -2%;
  margin-left: 2%;
}

.form-select-lg {
  padding-left: 3rem;
  color: darkslateblue;
}

.panier-row {
  background-color: rgb(245, 244, 244);
  padding: 20px;
}

.btn-secondary-perso {
  background-color: rgb(198, 195, 195);
}

.custom-footer {
  background-color: #f3f3f2;
  height: 8%;
}

.Inline-module_inline__1aHBb {
  display: flex;
  align-items: center;
}

.MediaObject-module_mediaItem__1pFSb {
  margin-right: 8px;
}

.AddServiceLink-module_link_c7bea2 {
  color: #ff6668;
}
