<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
  <p style="color: white"> Chargement... </p>
</ngx-spinner>
<div class="container-div host-listner">
  <div class="card text-center div100">
    <div class="card-body" style=" background: #FF6668">
      <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <div class="card bg-light text-center">
                <div class="card-body">
                  <div class="row">
                    <ul class="nav nav-pills card-header-pills justify-content-center">
                      <li class="nav-item">
                        <i class="bi bi-scissors" style="color: #FF6668;"></i>
                        <br>
                        <a class="active" style="color: #FF6668;">Prestations</a>
                      </li>
                    </ul>
                  </div>
                  <br>
                  <input type="text" class="form-control px-3" [(ngModel)]="search.categorie" placeholder="Catégorie">
                  <br>
                  <input type="text" class="form-control px-3" [(ngModel)]="search.service" placeholder="Service">
                  <br>
                  <button type="button" class="btn btn-search px-3" (click)="searchProduit()"
                    [disabled]="!(search.categorie && search.categorie.length > 3 && search.service && search.service.length > 3)">Recherche</button>
                </div>
              </div>
            </div>
            <div class="col-md-8 background-div">
              <h4 class="text-img">
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
<div>
  <app-top-Service></app-top-Service>
</div>
<br>
<br>
<div class="row back-img"></div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card">
        <img class="card-img-top" src="https://cdn1.treatwell.net/images/view/v2.i9270008.w2250.h800.xB76F0C47.png"
          alt="Card image cap">
        <div class="card-body">
          <div>
            <h2 class="Text-module_body__2lxF8">Treatwell Top Rated 2023</h2>
            <p class="Text-module_caption__1s14T">Les meilleurs salons de l’année n’attendent plus que vous ! Le badge
              Top Rated distingue les salons qui ont reçu un max d’avis 5 ⭐ pour leurs prestations au top. Découvrez les
              salons Top Rated près de chez vous et réservez le top sur Treatwell.</p>
          </div>
          <button type="button" class="btn" style="background-color: #001E62; color: white;">Réservez les meilleurs
            employés</button>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <img class="card-img-top" src="https://cdn1.treatwell.net/images/view/v2.i9270008.w2250.h800.xB76F0C47.png"
          alt="Card image cap">
        <div class="card-body">
          <div>
            <h2 class="Text-module_body__2lxF8">Treatwell Top Rated 2023</h2>
            <p class="Text-module_caption__1s14T">Les meilleurs salons de l’année n’attendent plus que vous ! Le badge
              Top Rated distingue les salons qui ont reçu un max d’avis 5 ⭐ pour leurs prestations au top. Découvrez les
              salons Top Rated près de chez vous et réservez le top sur Treatwell.</p>
          </div>
          <button type="button" class="btn" style="background-color: #001E62; color: white;">Réservez les meilleurs
            employés</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="row">
      <img src="../../../../../assets/image/photo.png" alt="">
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>