@import "../../assets/assetsHome/css/style.css";

.background-div {
  background-image: url("../../../../../../src/assets/image/cvtr.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-img {
  position: absolute;
  top: 5%;
  left: 61%;
  transform: translateX(-50%);
  animation: bascule 2s ease-in-out infinite alternate;
}

@keyframes bascule {
  0% {
    transform: translateX(-50%) translateX(-50px); /* Bascule vers la gauche */
  }
  100% {
    transform: translateX(-50%) translateX(50px); /* Bascule vers la droite */
  }
}

.rating-color {
  color: #fbc634 !important;
}

.card-img-top {
  height: 120px;
}

.Navigation-module--navTabsWrapper--71a231 a {
  margin-right: 20px;
  color: darkslateblue;
  cursor: pointer;
}

.Navigation-module--navTabsWrapper--71a231 a:hover {
  color: #34b7a7;
}

.Navigation-module--navTabsWrapper--71a231 a:focus {
  outline: 2px solid #34b7a7;
}

.Navigation-module--navTabsWrapper--71a231 a:active {
  color: #34b7a7;
  text-decoration: underline;
}
