<br>
<div class="container">
  <div class="Navigation-module--navTabs--60f176">
    <div class="Navigation-module--navTabsWrapper--71a231">
      <a class="NavigationTab-module--link--88cdd6" *ngFor="let item of categories">{{ item.name }}
      </a>
    </div>
  </div>
</div>
<br>
<div class="card text-center">
  <div class="card-body" style=" background: linear-gradient(to bottom, #34b7a7, #302b63, #24243e);">
    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-body">
                <div class="row">
                  <ul class="nav nav-pills card-header-pills justify-content-center">
                    <li class="nav-item">
                      <i class="bi bi-scissors"></i>
                      <br>
                      <a class="active">Prestations</a>
                    </li>
                  </ul>
                </div>
                <br>
                <input type="text" class="form-control px-3" placeholder="Coiffure">
                <br>
                <input type="text" class="form-control px-3" placeholder="Mèches ou balayage">
                <br>
                <input type="text" class="form-control px-3">
                <br>
                <button type="button" class="btn btn-success px-3">Recherche</button>
              </div>
            </div>
          </div>
          <div class="col-md-8 background-div">
            <h4 class="text-img">
              <strong style="color: red;">
                Révélez votre beauté dans chaque coin de notre salon !
              </strong>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<app-top-Service></app-top-Service>
<div class="row text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="row">
      <img src="../../../../../assets/image/photo.png" alt="">
    </div>
  </div>
  <div class="row">
    <p style="color: red;">Planifiez facilement votre prochain rendez-vous en ligne pour un service de beauté
      exceptionnel et sans
      tracas.</p>
  </div>
</div>