<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="mt-5 row">
        <div class="col-md-12 mb-4">
          <div class="card shadow-lg rounded-lg">
            <div class="card-header bg-info text-center text-white">
              <h5 class="m-0 font-weight-bold">Porte feuille</h5>
            </div>
            <div class="card-body">
              <h2 class="card-title text-center mb-4">Votre solde est de : {{solde}} Ar</h2>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group text-center">
        <label for="montant">Montant à recharger</label><br>
        <input type="text" class="form-control" id="montant" name="montant" [(ngModel)]="depot">
        <br>
        <button type="button" class="btn btn-success btn-sm btn-block" (click)="depotArgent()">Effectuer un
          dépôt</button>
      </div>
    </div>
  </div>
  <br>
</div>
<p-toast></p-toast>
<footer id="footer" class="footer fixed-bottom custom-footer">
  <div class="container">
    <div class="copyright">
      &copy; © 2024 Copyright <strong><span>ANDRIANTSITOHAINA Lahatra Mamy Hajaina</span></strong> and
      <strong><span>FANOMEZANTSOA Achille Aubin</span></strong>
    </div>
    <div class="credits" style="color: #ff6668;">
      CHARME & ÉCLAT BEAUTÉ
    </div>
  </div>
</footer>