<main id="main">
  <section id="contact" class="contact php-email-form">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch my-4">
          <div class="card">
            <img src="{{environments.url_image}}categorie/345.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Mission</a></h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
            </div>
            <div class="text-center mb-3 php-email-form">
              <button type="submit" (click)="priseRendezVous()">Prendre Rendez Vous</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch my-4">
          <div class="card">
            <img src="{{environments.url_image}}categorie/345.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Mission</a></h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
            </div>
            <div class="text-center mb-3 php-email-form">
              <button type="submit" (click)="priseRendezVous()">Prendre Rendez Vous</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch my-4">
          <div class="card">
            <img src="{{environments.url_image}}categorie/345.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Mission</a></h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
            </div>
            <div class="text-center mb-3 php-email-form">
              <button type="submit" (click)="priseRendezVous()">Prendre Rendez Vous</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch my-4">
          <div class="card">
            <img src="{{environments.url_image}}categorie/345.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Mission</a></h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
            </div>
            <div class="text-center mb-3 php-email-form">
              <button type="submit" (click)="priseRendezVous()">Prendre Rendez Vous</button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch my-4">
          <div class="card">
            <img src="{{environments.url_image}}categorie/345.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="">Our Mission</a></h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
            </div>
            <div class="text-center mb-3 php-email-form">
              <button type="submit" (click)="priseRendezVous()">Prendre Rendez Vous</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</main>