::ng-deep {
  .p-button-label {
    padding: 0.3rem 0.3rem;
    @apply font-normal;
  }

  .p-button {
    padding: 0rem 0.2rem;

    &:focus {
      box-shadow: none;
    }
  }

  // flat btn grp
  .secondary-toggle {
    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-secondary-100 text-secondary border-secondary;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-secondary-100 text-secondary border-secondary;
      }
    }

    .p-buttonset .p-button:not(:last-child) {
      &:hover,
      &:focus {
        border-right: 1px solid #173c70 !important;
      }
    }

    .p-button.p-highlight:not(:last-child) {
      border-right: 1px solid #173c70 !important;
    }
  }

  .success-toggle {
    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-success-100 text-success border-success;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-success-100 text-success border-success;
      }
    }

    .p-buttonset .p-button:not(:last-child) {
      &:hover,
      &:focus {
        border-right: 1px solid #20ad61 !important;
      }
    }

    .p-button.p-highlight:not(:last-child) {
      border-right: 1px solid #20ad61 !important;
    }
  }

  .primary-toggle {
    .p-selectbutton {
      .p-button.p-highlight {
        @apply bg-primary-100 text-primary border-primary;
        .p-button-icon-left,
        .p-button-icon-right {
          @apply text-primary;
        }
        &:hover,
        &:focus {
          @apply bg-primary-100 text-primary border-primary;
          .p-button-icon-left,
          .p-button-icon-right {
            @apply text-primary;
          }
        }
      }
      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-primary-100 text-primary border-primary;
        .p-button-icon-left,
        .p-button-icon-right {
          @apply text-primary;
        }
      }
    }
    .p-buttonset .p-button:not(:last-child) {
      &:hover,
      &:focus {
        border-right: 1px solid #0075ea !important;
      }
    }

    .p-button.p-highlight:not(:last-child) {
      border-right: 1px solid #0075ea !important;
    }
  }

  .info-toggle {
    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-info-100 text-info border-info;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-info-100 text-info border-info;
      }
    }

    .p-buttonset .p-button:not(:last-child) {
      &:hover,
      &:focus {
        border-right: 1px solid #00bcd4 !important;
      }
    }

    .p-button.p-highlight:not(:last-child) {
      border-right: 1px solid #00bcd4 !important;
    }
  }

  // flat full btn grp
  .primary-toggle-full {
    .p-button,
    .p-selectbutton {
      @apply rounded bg-primary-100 border-transparent;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-primary-100 text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-primary-100 text-white border-transparent;
      }

      .p-button .p-button-label:hover,
      .p-button.p-highlight .p-button-label {
        @apply bg-primary rounded;
      }
    }
  }

  .secondary-toggle-full {
    .p-button,
    .p-selectbutton {
      @apply rounded bg-secondary-100 border-transparent;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-secondary-100 text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-secondary-100 text-white border-transparent;
      }

      .p-button .p-button-label:hover,
      .p-button.p-highlight .p-button-label {
        @apply bg-secondary rounded;
      }
    }
  }

  .success-toggle-full {
    .p-button,
    .p-selectbutton {
      @apply rounded bg-success-100 border-transparent;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-success-100 text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-success-100 text-white border-transparent;
      }

      .p-button .p-button-label:hover,
      .p-button.p-highlight .p-button-label {
        @apply bg-success rounded;
      }
    }
  }

  .info-toggle-full {
    .p-button,
    .p-selectbutton {
      @apply rounded bg-info-100 border-transparent;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-info-100 text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-info-100 text-white border-transparent;
      }

      .p-button .p-button-label:hover,
      .p-button.p-highlight .p-button-label {
        @apply bg-info rounded;
      }
    }
  }

  // rounded full btn grp

  .primary-toggle-rounded-full {
    .p-button,
    .p-selectbutton {
      @apply rounded-full bg-primary-100 border-transparent;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-primary-100 text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-primary-100 text-white border-transparent;
      }

      .p-button .p-button-label:hover,
      .p-button.p-highlight .p-button-label {
        @apply bg-primary rounded-full;
      }
    }
  }

  .secondary-toggle-rounded-full {
    .p-button,
    .p-selectbutton {
      @apply rounded-full bg-secondary-100 border-transparent;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-secondary-100 text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-secondary-100 text-white border-transparent;
      }

      .p-button .p-button-label:hover,
      .p-button.p-highlight .p-button-label {
        @apply bg-secondary rounded-full;
      }
    }
  }

  .success-toggle-rounded-full {
    .p-button,
    .p-selectbutton {
      @apply rounded-full bg-success-100 border-transparent;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-success-100 text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-success-100 text-white border-transparent;
      }

      .p-button .p-button-label:hover,
      .p-button.p-highlight .p-button-label {
        @apply bg-success rounded-full;
      }
    }
  }

  .info-toggle-rounded-full {
    .p-button,
    .p-selectbutton {
      @apply rounded-full bg-info-100 border-transparent;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-info-100 text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-info-100 text-white border-transparent;
      }

      .p-button .p-button-label:hover,
      .p-button.p-highlight .p-button-label {
        @apply bg-info rounded-full;
      }
    }
  }

  // rounded double

  .error-double {
    .p-button,
    .p-selectbutton {
      @apply rounded-full;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-error text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-error text-white border-transparent;
      }
    }
  }

  .warning-double {
    .p-button,
    .p-selectbutton {
      @apply rounded-full;
    }

    .p-selectbutton {
      .p-button.p-highlight,
      &:hover,
      &:focus {
        @apply bg-warn text-white border-transparent;
      }

      .p-button:not(.p-disabled):not(.p-highlight):hover {
        @apply bg-warn text-white border-transparent;
      }
    }
  }
}
